<header>
    <div class="navbar bg-success shadow-sm">
        <div class="navbar-brand d-flex " >
            <i routerLink=""  style='font-size:40px' class='fas' > &#xf5da;</i>
            <strong style="font-size: 30px;" >Book Library</strong>
        </div>
        <div>
          <button routerLink="favourites" class="btn btn-light"> 
            <i class="fas fa-heart" style="font-size:24px"> <strong style="padding: 10px;">Favourite Books</strong> </i>
            
        </button>   <br> <br>
        <button  routerLink="completed" class="btn btn-light">
            <i class='fas fa-check-square' style='font-size:24px'> <strong style="padding: 10px;">Completed Books</strong>  </i>
           
        </button>
        </div>
        
    </div>
    <br><br>
</header>